body {
    background-color: #eeeeee;
}

.expand-h {
    height: 100%;
}

.page {
    background-color: white;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    height: 400px;
}

.right {
   float: right; 
}

form .row .label-parent {
    min-height: 24px;   
    display: flex;
    align-items: center;
}

form .row .input-parent input {
    width: 100%;
}

.flex-align-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
    text-align: center;
}

.error { color: red; } 

.success { color: green; }